<div class="contain">
  <div class="card" *ngIf="player">
    <header class="card-header card-content">
      <h1 class="subtitle is-1">Edit Player <i class="fa fa-pencil-square-o"></i></h1>
    </header>
    <div class="card-content">
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input [(ngModel)]="player.name" class="input" type="text">
        </div>
      </div>

      <div class="field">
        <label class="label">Position</label>
        <div class="control">
          <input [(ngModel)]="player.position" class="input" type="text">
        </div>
      </div>

      <div class="field">
        <label class="label">Team</label>
        <div class="control">
          <input [(ngModel)]="player.team" class="input" type="text">
        </div>
      </div>

      <div class="field">
        <label class="label">Number</label>
        <div class="control">
          <input [(ngModel)]="player.number" class="input" type="text">
        </div>
      </div>

      <div class="field is-grouped">
        <p class="control">
          <a class="button" (click)="goBack()">
            Go back
          </a>
        </p>
        <p class="control">
          <a class="button is-success" (click)="save()">
            Save
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
